<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945793861093-sur7lltliq0uurreb0sst6qd934vnl7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945793861093-sur7lltliq0uurreb0sst6qd934vnl7l</string>
	<key>API_KEY</key>
	<string>AIzaSyBNZwQCCyNP-lap0WSDPUNqMQrgKu6Ic_I</string>
	<key>GCM_SENDER_ID</key>
	<string>945793861093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensetracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-87061</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-87061.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945793861093:ios:8ee2a8311f88fabd5f5b0c</string>
</dict>
</plist>